body,
html { 
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(mountains.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    font-size: 25px;
    color: aliceblue;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

span {
    font-size: 2em;
    font-family: 'Lobster', cursive;
}


header {
    text-align: center;
    margin-top: 250px;
}

.buffer {
    height: 3rem;
}

hr {
    border-color: yellowgreen;
    border-width:  3px;
    max-width: 65px;
}

.btn {
    font-weight: 700;
    border-radius: 300px; 
    text-transform: uppercase;
}

.btn-primary {
    background-color: crimson;
    border-color: crimson;
}

.btn-primary:hover {
    background-color: rgb(128, 21, 42);
    border-color: rgb(128, 21, 42) ;
    border-width: 5px;
}

.btn-xl {
    padding: 1rem 2rem;
}  
